@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-family: Roboto;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.7;
}
.display-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.5rem;
}
.display-1 > .mbr-iconfont {
  font-size: 7.2rem;
}
.display-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
}
.display-2 > .mbr-iconfont {
  font-size: 5.6rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.9rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.04rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.8rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.52rem;
    font-size: calc( 1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20))));
  }
}

/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
  border-radius: 3rem ;
}

.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em !important;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;

}
.form-control > .mbr-iconfont {
  font-size: 1rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #c19b76;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  -webkit-justify-content: center;
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #c19b76;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #c19b76;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c19b76;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c19b76;
}
/* Headers*/
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.mbr-section-title {
  letter-spacing: 1px;
  margin: 0;
}
.mbr-section-subtitle {
  letter-spacing: 2px;
  margin: 0;
}
.mbr-section-btn .btn {
  font-weight: 700;
}
.mbr-section-btn .btn-sm {
  padding: .3rem 1rem !important;
}
.mbr-section-btn .btn-md {
  padding: .5rem 2rem !important;
}
.mbr-section-btn .btn-lg {
  padding: 1rem 2.2rem !important;
}
.mbr-text {
  letter-spacing: 1px;
}
.mbr-lighter {
  font-weight: 100 !important;
}
body {
  color: #333333;
}
.up-z-index {
  z-index: 1000 !important;
}
.cid-raTI2NFMfz .nav-item:focus,
.cid-raTI2NFMfz .nav-link:focus {
  outline: none;
}
.cid-raTI2NFMfz a.nav-link:focus {
  color: #ffffff !important;
}
.cid-raTI2NFMfz .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #444444;
}
.cid-raTI2NFMfz .navbar.opened {
  transition: all .3s;
  background: #444444 !important;
}
.cid-raTI2NFMfz .navbar .dropdown-item {
  padding: .3rem 1.5rem;
}
.cid-raTI2NFMfz .navbar .navbar-collapse {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  z-index: 1;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.cid-raTI2NFMfz .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-raTI2NFMfz .navbar.collapsed .navbar-collapse {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.cid-raTI2NFMfz .navbar.collapsed .nav-link:hover::before {
  width: 0 !important;
}
.cid-raTI2NFMfz .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-raTI2NFMfz .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-raTI2NFMfz .navbar.collapsed .dropdown-menu .dropdown-item {
  border: none !important;
}
.cid-raTI2NFMfz .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-raTI2NFMfz .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-raTI2NFMfz .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-raTI2NFMfz .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .15rem 1.5rem;
  text-align: center;
}
.cid-raTI2NFMfz .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-raTI2NFMfz .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-raTI2NFMfz .navbar .navbar-collapse {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
  .cid-raTI2NFMfz .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-raTI2NFMfz .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-raTI2NFMfz .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-raTI2NFMfz .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-raTI2NFMfz .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-raTI2NFMfz .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-raTI2NFMfz .navbar .dropdown-menu .dropdown-item {
    padding: .15rem 1.5rem;
    text-align: center;
  }
  .cid-raTI2NFMfz .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    word-break: break-word;
  }
  .cid-raTI2NFMfz .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-raTI2NFMfz .navbar.navbar-short {
  background: #444444 !important;
  min-height: 60px;
}
.cid-raTI2NFMfz .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-raTI2NFMfz .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-raTI2NFMfz .navbar-brand {
  display: flex;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-raTI2NFMfz .navbar-brand .navbar-caption-wrap {
  display: flex;
}
.cid-raTI2NFMfz .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: normal;
}
.cid-raTI2NFMfz .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-raTI2NFMfz .dropdown-item.active,
.cid-raTI2NFMfz .dropdown-item:active {
  background-color: transparent;
}
.cid-raTI2NFMfz .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-raTI2NFMfz .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-raTI2NFMfz .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-raTI2NFMfz .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: transparent;
}
.cid-raTI2NFMfz .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
  top: 30%;
}
.cid-raTI2NFMfz .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-raTI2NFMfz ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-raTI2NFMfz .navbar-buttons {
  text-align: center;
}
.cid-raTI2NFMfz button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-raTI2NFMfz button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-raTI2NFMfz button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-raTI2NFMfz button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-raTI2NFMfz button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-raTI2NFMfz button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-raTI2NFMfz nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-raTI2NFMfz nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-raTI2NFMfz nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-raTI2NFMfz nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-raTI2NFMfz .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-raTI2NFMfz a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
}
.cid-raTI2NFMfz .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-raTI2NFMfz .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-raTI2NFMfz .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
.cid-raTI2NFMfz .nav-link:hover,
.cid-raTI2NFMfz .icons-menu .mbr-iconfont:hover {
  color: #ffffff !important;
}
.cid-raTI2NFMfz .dropdown-item:hover {
  color: #878787 !important;
}
.cid-raTI2NFMfz .nav-item .nav-link::before {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -0.5rem;
  width: 0;
  left: -1rem;
  background: #ffffff;
  transition: width 0.3s ease-in;
}
.cid-raTI2NFMfz .dropdown-menu {
  padding: 0;
  transition: top .3s;
}
.cid-raTI2NFMfz .nav-item .nav-link {
  letter-spacing: 1px;
}
@media (min-width: 992px) {
  .cid-raTI2NFMfz .navbar-expand-lg {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  .cid-raTI2NFMfz .nav-link:hover::before {
    width: calc(100% + 2rem);
  }
  .cid-raTI2NFMfz .dropdown-menu {
    top: 100%;
  }
  .cid-raTI2NFMfz .dropdown-item {
    border-bottom: 1px solid #b3b3b3;
    box-shadow: 0px 2px 5px #ffffff;
    background: #ffffff !important;
  }
  .cid-raTI2NFMfz .dropdown-item:hover {
    background: #e6e6e6 !important;
  }
  .cid-raTI2NFMfz .nav-item.open .nav-link::before {
    left: calc(1.667em - 1rem);
    bottom: 0.538px;
    width: calc(100% - 3.334em + 2rem);
  }
  .cid-raTI2NFMfz .navbar-short .dropdown-menu {
    top: 100%;
  }
}
.cid-raTKYGOHjk {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #333333;
}
.cid-raTKYGOHjk .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-raTKYGOHjk .mbr-text {
  margin: 0;
}
@media (max-width: 767px) {
  .cid-raTKYGOHjk .title {
    width: 100% !important;
  }
}
.cid-raTKYGOHjk .mbr-section-title {
  color: #ffffff;
}
.cid-raTKYGOHjk .mbr-section-subtitle,
.cid-raTKYGOHjk .underline {
  color: #ffffff;
}
.cid-raTI7nYObn {
  padding-top: 120px;
  padding-bottom: 120px;
  
}
.cid-raTI7nYObn .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-raTI7nYObn .form-head {
  background: #efefef;
  padding: 2rem;
}
.cid-raTI7nYObn .form1 {
  background: #ffffff;
  padding: 2rem;
}
.cid-raTI7nYObn .form1 .input-wrap {
  margin-bottom: 1rem;
}
.cid-raTI7nYObn .form1 .form-control {
  border: none;
  border-radius: 0;
  padding: .5rem 1rem;
  background: #efefef;
  color: #000000;
  width: 100%;
}
.cid-raTI7nYObn .form1 .input-group-btn {
  width: 100%;
}
.cid-raTI7nYObn .form1 .input-group-btn .btn {
  display: block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100%;
}
.cid-raTI7nYObn .form1 .form-label-outside {
  color: #333333;
}
@media (max-width: 767px) {
  .cid-raTI7nYObn .form1 {
    padding: 1.5rem;
  }
}
.cid-rb9SpE6JLx {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #444444;
}
